<div class="container_home">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">   
        <%= image_tag("slide-04.jpg", size: "300x850", alt: "Edit Entry", class: "d-block w-100") %>
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <%= image_tag("slide-03.jpg", size: "300x850", alt: "Edit Entry", class: "d-block w-100") %>
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
      <div class="carousel-item">
        <%= image_tag("slide-02.jpg", size: "300x850", alt: "Edit Entry", class: "d-block w-100") %>
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="bg0 pt-8">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xl-4 pb-8">
        <div class="homecate-border">
          <%= image_tag ('banner-01.jpg') %>
          <a href="product.html" class="homecate-border-txt ab-t-l px-5 trans-03 respon3">         
            <div class="homecate-border-title pt-5">
              WOMEN
              <div class="homecate-border-info">Spring 2022</div>
            </div>
            <div class="homecate-border-txt-child2 pt-13 trans-05">        
              <div class="homecate-border-link trans-09">Shop Now</div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 pb-8">
        <div class="homecate-border">
          <%= image_tag ('banner-02.jpg') %>
          <a href="product.html" class="homecate-border-txt ab-t-l px-5 trans-03 respon3">
            <div class="homecate-border-title pt-5">
              MEN
              <div class="homecate-border-info">Hot Design</div>
            </div> 
            <div class="homecate-border-txt-child2 pt-13 trans-05">     
              <div class="homecate-border-link trans-09">Shop Now</div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 pb-8">
        <div class="homecate-border">
          <%= image_tag ('banner-03.jpg') %>
          <a href="product.html" class="homecate-border-txt ab-t-l px-5 trans-03 respon3">
            <div class="homecate-border-title pt-5">
              ACCESSORIES
              <div class="homecate-border-info">New Trend</div>
            </div>
            <div class="homecate-border-txt-child2 pt-13 trans-05">
              <div class="homecate-border-link trans-09">Shop Now</div>
            </div>
          </a>
        </div>
      </div>
    </div>
   </div>
</div>

<section class="pt-8 p-b-140">
  <div class="container">
    <div class="pb-3">
      <h3 class="home-product-overview">Product Overview</h3>
    </div>

    <div class="flex-w flex-sb-m">
      <div class="flex-w flex-l-m">
        <button class="home-cate-button trans-04 mr-2">All Products</button>
        <button class="home-cate-button trans-04 mr-2">Women</button>
        <button class="home-cate-button trans-04 mr-2">Men</button>
        <button class="home-cate-button trans-04 mr-2">Bag</button>
        <button class="home-cate-button trans-04 mr-2">Shoes</button>
        <button class="home-cate-button trans-04 mr-2">Watches</button>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-xl-3">
        <div class="home-single-product">
          <div class="part-1">                  
            <%= image_tag("product-05.jpg", size: "320x450", alt: "Edit Entry") %>                     
            <ul><div class="home-single-product-view">
              <a href="#" class="flex-c-m trans-09">Quick view</a>
            </div></ul>
          </div>
          <div class="part-2">
            <h3 class="home-single-product-title">Front Pocket Jumper</h3>
            <h4>$49.99</h4>
          </div>
        </div>
      </div>
      <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="home-single-product">
          <div class="part-1">
            <span class="discount">15% off</span>
            <%= image_tag("product-05.jpg", size: "320x450", alt: "Edit Entry") %>
            <ul class="px-5">
              <div class="home-single-product-view">
                <a href="#" class="flex-c-m trans-09">Quick view</a>
              </div>
            </ul>
          </div>
          <div class="part-2">
            <h3 class="home-single-product-title">Front Pocket Jumper</h3>
            <h4>$49.99</h4>
          </div>
        </div>
      </div>
      <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="home-single-product">
          <div class="part-1">
            <%= image_tag("product-05.jpg", size: "320x450", alt: "Edit Entry") %>
            <ul class="px-5">
              <div class="home-single-product-view">
                <a href="#" class="flex-c-m trans-09">Quick view</a>
              </div>
            </ul>
          </div>
          <div class="part-2">
            <h3 class="home-single-product-title">Front Pocket Jumper</h3>
            <h4>$49.99</h4>
          </div>
        </div>
      </div>
      <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="home-single-product">
          <div class="part-1">
            <%= image_tag("product-05.jpg", size: "320x450", alt: "Edit Entry") %>
            <ul class="px-5">
              <div class="home-single-product-view">
                <a href="#" class="flex-c-m trans-09">Quick view</a>
              </div>
            </ul>
          </div>
          <div class="part-2">
            <h3 class="home-single-product-title">Front Pocket Jumper</h3>
            <h4>$49.99</h4>
          </div>
        </div>
      </div>
        <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="home-single-product">
          <div class="part-1">
            <%= image_tag("product-05.jpg", size: "320x450", alt: "Edit Entry") %>
            <ul class="px-5">
              <div class="home-single-product-view">
                <a href="#" class="flex-c-m trans-09">Quick view</a>
              </div>
            </ul>
          </div>
          <div class="part-2">
            <h3 class="home-single-product-title">Front Pocket Jumper</h3>
            <h4>$49.99</h4>
          </div>
        </div>
      </div>
        <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="home-single-product">
          <div class="part-1">
            <%= image_tag("product-05.jpg", size: "320x450", alt: "Edit Entry") %>
            <ul class="px-5">
              <div class="home-single-product-view">
                <a href="#" class="flex-c-m trans-09">Quick view</a>
              </div>
            </ul>
          </div>
          <div class="part-2">
            <h3 class="home-single-product-title">Front Pocket Jumper</h3>
            <h4>$49.99</h4>
          </div>
        </div>
      </div>
        <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="home-single-product">
          <div class="part-1">
            <%= image_tag("product-05.jpg", size: "320x450", alt: "Edit Entry") %>
            <ul class="px-5">
              <div class="home-single-product-view">
                <a href="#" class="flex-c-m trans-09">Quick view</a>
              </div>
            </ul>
          </div>
          <div class="part-2">
            <h3 class="home-single-product-title">Front Pocket Jumper</h3>
            <h4>$49.99</h4>
          </div>
        </div>
      </div>
        <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="home-single-product">
          <div class="part-1">
            <%= image_tag("product-05.jpg", size: "320x450", alt: "Edit Entry") %>
            <ul class="px-5">
              <div class="home-single-product-view">
                <a href="#" class="flex-c-m trans-09">Quick view</a>
              </div>
            </ul>
          </div>
          <div class="part-2">
            <h3 class="home-single-product-title">Front Pocket Jumper</h3>
            <h4>$49.99</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="home-single-product-load pt-1">
        <a href="#" class="flex-c-m trans-09">Load More</a>
      </div>
    </div>
    <br/>
  </div>
</section>
