<!DOCTYPE html>
<html>
  <head>
    <title>Kmh</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "console/application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section>
      <%= render "layouts/console/content_header" %>
      <div id="ms-1" class="container">
        <%= yield %>
      </div>
      <%= render "layouts/console/main_footer" %>
    </section>
  </body>
  
</html>
