<footer class="pt-5 pb-3">
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-lg-3 pb-5">
      <h4 class="footer-title pb-4">
        Categories
      </h4>

      <ul>
        <li class="pb-2">
          <a href="#" class="footer-info trans-04">
            Women
          </a>
        </li>

        <li class="pb-2">
          <a href="#" class="footer-info trans-04">
            Men
          </a>
        </li>

        <li class="pb-2">
          <a href="#" class="footer-info trans-04">
            Shoes
          </a>
        </li>

        <li class="pb-2">
          <a href="#" class="footer-info trans-04">
            Watches
          </a>
        </li>
      </ul>
    </div>

    <div class="col-sm-6 col-lg-3 pb-5">
      <h4 class="footer-title pb-4">
        Help
      </h4>

      <ul>
        <li class="pb-2">
          <a href="#" class="footer-info trans-04">
            Track Order
          </a>
        </li>

        <li class="pb-2">
          <a href="#" class="footer-info trans-04">
            Returns 
          </a>
        </li>

        <li class="pb-2">
          <a href="#" class="footer-info trans-04">
            Shipping
          </a>
        </li>

        <li class="pb-2">
          <a href="#" class="footer-info trans-04">
            FAQs
          </a>
        </li>
      </ul>
    </div>

    <div class="col-sm-6 col-lg-3 pb-5">
      <h4 class="footer-title pb-4">
        GET IN TOUCH
      </h4>

      <p class="footer-info">
        Any questions? 
        Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
      </p>
    </div>

    <div class="col-sm-6 col-lg-3 pb-5">
      <h4 class="footer-title pb-4">
        Newsletter
        Letter
      </h4>

      <form>
        <div class="pb-1">
          <input class="footer-input" type="text" name="email" placeholder="email@example.com">
        </div>

        <div class="pt-3">
          <button class="flex-c-m px-25 footer-button">
            Subscribe
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="pt-40">
    <div class="flex-c-m d-flex pb-2">
      <a href="#">   
        <%= image_tag ('icons/icon-pay-01.png') %>	
      </a>

      <a href="#">         
        <%= image_tag ('icons/icon-pay-02.png') %>	
      </a>

      <a href="#">     
        <%= image_tag ('icons/icon-pay-03.png') %>	
      </a>

      <a href="#">      
        <%= image_tag ('icons/icon-pay-04.png') %>	
      </a>

      <a href="#">
        <%= image_tag ('icons/icon-pay-05.png') %>	
      </a>
    </div>

    <p class="footer-note text-center">
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </p>
  </div>
</div>
</footer>
